.header {
    max-width: auto;
    .navbar {
        margin-top: 0 !important;

        &.navbar-expand-lg {
            &.bg-body-tertiary {
                background-color: transparent !important;
            }

            .navbar-toggler {
                background-color: $detalles-naranja;
                color: $detalles-naranja;
                /* Estilos para el botón del toggler */
                height: 50px;
                width: auto;
            }

            .collapse {
                &.navbar-collapse {
                    background-color: $azul-fondo;

                    ul {
                        &.navbar-nav {
                            justify-content: flex-end;
                            flex-grow: 1;

                            &.me-auto {
                                &.mb-2 {
                                    &.mb-lg-0 {
                                        .nav-item {
                                            font-size: 3rem;
                                            /* Estilos para los elementos de la lista */
                                            margin-right: 20px;
                                            text-transform: capitalize;
                                            font-weight: bold;

                                            a {
                                                text-decoration: none;
                                                color: $detalles-naranja; // Estilos para los enlaces de navegación
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}